@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --small-font-size: 12px;
  --normal-font-size: 14px;
  --large-font-size: 24px;
  --normal-font-family: "Poppins", sans-serif;
  --normal-font-weight: 400;
  --heading-font-family: "Lora", serif;
  --heading-font-weight: 500;
  --text-color: #181e40;

  --red-color: #f13b38;

  --navBar-padding: 20px;
  --navBar-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  --margin-between-elements: 0 10px;
  --navLogo-margin: 0 30px;

  --searchBar-bg-color: #f4f4f4;
  --searchBar-width: 200px;
  --searchBar-input-padding: 7.5px 7.5px 7.5px 30px;
  --searchBar-input-border-radius: 30px;
}

#navBar {
    width: 100%;
    box-shadow: var(--navBar-box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--navBar-padding);
    font-family: var(--normal-font-family);
    font-size: var(--normal-font-size);
    
}

#navLinksContainer {
    display: flex;
    align-items: center;
}

#searchBarUserAccountCartContainer {
    display: flex;
    align-items: center;
}

#navLogo {
    margin: var(--navLogo-margin);
}

.navLink {
    color: var(--text-color);
    text-decoration: none;
    margin: var(--margin-between-elements);
}

.newItemsLink {
    color: var(--red-color);
}

.searchBarContainer {
    position: relative;
    margin: var(--margin-between-elements);
}

.searchBar {
    background-color: var(--searchBar-bg-color);
    border: none;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    width: var(--searchBar-width);
    border-radius: var(--searchBar-input-border-radius);
    padding: var(--searchBar-input-padding);
    
}

.searchBar:focus {
    outline: none;
}

.searchBarIcon {
    position: absolute;
    right: 5%;
    top: 5%;
}

.userIcon, .cartIcon {
    margin: var(--margin-between-elements);
}




