@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*////////// TEXTS //////////*/
  --small-font-size: 12px;
  --normal-font-size: 14px;
  --large-font-size: 24px;
  --normal-font-family: "Poppins", sans-serif;
  --normal-font-weight: 400;
  --heading-font-family: "Lora", serif;
  --heading-font-weight: 500;
  --text-color: #02040c;
  --red-text-color: #f13b38;

    /* ////////// NAV BAR PROPERTIES ////////// */
  --navBar-padding: 20px 10px;
  --navBar-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    /* ////////// MARGINS ////////// */
  --margin-between-elements: 0 10px;
  --navLogo-margin: 0 20px;


}


#navBar {
    width: 100%;
    box-shadow: var(--navBar-box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--navBar-padding);
    font-family: var(--normal-font-family);
    font-size: var(--normal-font-size);
    
}

#navMenuAndLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBarUserAccountCartContainer {
    display: flex;
    align-items: center;
}

#navLogo {
    width: 80px;
    height: 100%;
    margin: var(--navLogo-margin);
}

.userIcon, .cartIcon, .searchBarIcon {
    margin: var(--margin-between-elements);
}

.menu-button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-icon, .menu-icon::before , .menu-icon::after {
    background-color: black;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
}

.menu-icon::before, .menu-icon::after {
    content: "";
    width: 30px;
    height: 3px;
}

.menu-icon::before {
    transform: translate(-15px, -8px);
}

.menu-icon::after {
    transform: translate(-15px, 8px);
}

.menu-button:focus {
    outline: none;
    border: none;
}





