@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
        /*////////// TEXTS //////////*/
    --small-font-size: 12px;
    --normal-font-size: 14px;
    --large-font-size: 24px;
    --extra-large-font-size: 40px;
    --normal-font-family: "Poppins", sans-serif;
    --normal-font-weight: 400;
    --bold-font-weight: 600;
    --heading-font-family: "Lora", serif;
    --heading-font-weight: 700;
    --text-color: #181e40;
    --slider-text-color: #9b350d;
    --red-text-color: #f13b38;

    --each-section-margin: 50px 0;
    --page-content-padding: 0px 20px;
    --page-content-margin: 25px 0;
    --page-normal-border: 1px solid rgba(0, 0, 0, 0.3); 

    /* ////////// ratingStarsContainer ////////// */
    --ratingStarsContainer-padding: 10px 0;

    /* ////////// ratingStars /////////// */
    --ratingStars-width: 18px;
    --ratingStars-margin: 3px;

    /* ////////// ratingText ////////// */
    --ratingText-font-size: 16px;
    --ratingText-padding: 0 5px;

    /* ////////// sizeSelectorBtn ////////// */
    --sizeSelectorBtn-padding: 12.5px 0;
    --sizeSelectorBtn-border-radius: 3px;
    --sizeSelectorBtn-bg-color: white;

    /* ////////// featuresSection ////////// */
    --featuresSection-padding: 25px 20px;
    
    /* ////////// individualFeatureContainer ////////// */
    --individualFeatureContainer-padding: 15px 0;

    /* ////////// featureValue ////////// */
    --featureValue-padding-btm: 10px;

    /* ////////// reviewHeaderContainer ////////// */
    --reviewHeaderContainer-gap: 10px;

    /* ////////// individualReviewContainer ////////// */
    --individualReviewContainer-gap: var(--reviewHeaderContainer-gap);
    --individualReviewContainer-padding: 15px;
    --individualReviewContainer-margin: 20px 0;
    --individualReviewContainer-border-radius: 10px;

    /* ////////// reviewText ////////// */
    --reviewText-margin-btm: 5px;

    /* ////////// writeReviewBtn ////////// */
    --writeReviewBtn-padding: 10px 10px;
    --writeReviewBtn-border: 2px solid var(--text-color);
    --writeReviewBtn-border-radius: 5px;

    --writeReviewBtn-hover-bg-color: var(--text-color);
    --writeReviewBtn-hover-box-shadow: 0.5px 0.5px 2px black;
    --writeReviewBtn-hover-text-color: white;

    /* ////////// addToCartBtn ////////// */
    --addToCart-padding: 15px 0;
    --addToCart-width: 95%;
    --addToCart-border-radius: 5px;
    --addToCart-text-color: white;
    --addToCart-z-index: 1;



}

.viewProductPage {
    height: 100vh;
    width: 100%;
    font-family: var(--normal-font-family);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.viewProductImg {
    width: 100%;
}

.productInfoSection {
    padding: var(--page-content-padding);
}

.header {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: var(--large-font-size);
}

.ratingStarsContainer {
    display: flex;
    padding: var(--ratingStarsContainer-padding);
    align-items: center;
}

.ratingStars {
    width: var(--ratingStars-width);
    margin-right: var(--ratingStars-margin);
}

.ratingText {
    font-size: var(--ratingText-font-size);
    padding: var(--ratingText-padding);
}

.sizeSection {
    padding: var(--page-content-padding);
}

.sizeSection > p {
    margin: 10px 0;
}

.sizeSelectorBtnContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.sizeSelectorBtn {
    font-size: var(--normal-font-size);
    font-family: var(--normal-font-family);
    font-weight: var(--bold-font-weight);
    color: var(--text-color);
    padding: var(--sizeSelectorBtn-padding);
    background-color: var(--sizeSelectorBtn-bg-color);
    border: var(--page-normal-border);
    border-radius: var(--sizeSelectorBtn-border-radius);
}

.selectedBtn {
    background-color: var(--text-color);
    color: white;
}

.featuresSection {
    border-top: var(--page-normal-border);
    border-bottom: var(--page-normal-border);
    padding: var(--featuresSection-padding);
    margin: var(--page-content-margin);
}

.individualFeatureContainer {
    display: flex;
    justify-content: space-between;
    padding: var(--individualFeatureContainer-padding);
    border-bottom: var(--page-normal-border);
}

.individualFeatureContainer:last-child {
    border: none;
}

.activeContainer {
    border: none;
}

.featureValue {
    padding-bottom: var(--featureValue-padding-btm);
    border-bottom: var(--page-normal-border);
    animation: dropDown 0.5s forwards;
}


@keyframes dropDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.reviewSection {
    padding: var(--page-content-padding);
}

.reviewHeaderContainer {
    display: flex;
    align-items: baseline;
    gap: var(--reviewHeaderContainer-gap);
}

.ratingNumber {
    font-size: var(--extra-large-font-size);
    font-weight: var(--normal-font-weight);
}

.individualReviewContainer {
    display: flex;
    flex-direction: column;
    gap: var(--individualReviewContainer-gap);
    padding: var(--individualReviewContainer-padding);
    border: var(--page-normal-border);
    border-radius: var(--individualReviewContainer-border-radius);
    margin: var(--individualReviewContainer-margin);
}

.reviewNameAndDateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewName {
    font-weight: var(--bold-font-weight);
}

.reviewText {
    margin-bottom: var(--reviewText-margin-btm);
}

.writeReviewBtn {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    background-color: white;
    padding: var(--writeReviewBtn-padding);
    border: var(--writeReviewBtn-border);
    border-radius: var(--writeReviewBtn-border-radius);
    transition: 0.5s;
}

.writeReviewBtn:hover {
    transition: 0.5s;
    color: var(--writeReviewBtn-hover-text-color);
    background-color: var(--writeReviewBtn-hover-bg-color);
    box-shadow: var(--writeReviewBtn-hover-box-shadow);
}

.addToCartBtn {
    position: fixed;
    padding: var(--addToCart-padding);
    width: var(--addToCart-width);
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: var(--addToCart-border-radius);
    background-color: var(--text-color);
    color: var(--addToCart-text-color);
    z-index: var(--addToCart-z-index);
}